@keyframes slideFromTop {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

.background-box {
    animation: slideFromTop 1s ease-in-out;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
  }