.vet-appointments-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    flex-direction: row;
   text-align: center;
   justify-content: 'center';
    gap: 30px;
}

.full-page{
    display: flex;
    flex-direction: column;
    gap: 10;
}
.countainer-pet-health-details {
    border: 1px solid #bebebe;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}